<div class="p-3 grid gap-3 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 text-center text-white">
    <div class="flex flex-col rounded-xl overflow-hidden border-4 sm:col-span-1 md:col-span-2 xl:col-span-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Images to show</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>Upload the images you want to show with this application.</p>
            <div class="flex flex-col justify-center">
                <span i18n>Your uploaded images:</span>
                <ol *ngIf="currentImages.length" class="mx-5">
                    <li *ngFor="let image of currentImages; index as i" class="border rounded-lg my-2">
                        {{image.name}}
                        <button type="button" (click)="pushImageUp(i)" data-mdb-ripple="true" data-mdb-ripple-color="light" class="ml-4 my-2 p-2 border rounded hover:bg-sky-800">Hoch</button>
                        <button type="button" (click)="pushImageDown(i)" data-mdb-ripple="true" data-mdb-ripple-color="light" class="ml-4 my-2 p-2 border rounded hover:bg-sky-800">Runter</button>
                    </li>
                </ol>
                <span *ngIf="!currentImages.length" i18n>(You have not uploaded any images yet.)</span>
            </div>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="file" multiple accept=".png,.jpg,.jpeg,.webp" (change)="addImages($event)" class="block w-full border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 file:border-0 file:mr-4 file:py-3 file:px-4 file:bg-white">
        </div>
    </div>
    
    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Save &amp; load settings</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>Save the current settings in a file on your PC.</p>
            <p class="my-5" i18n>You can also load previously save settings from your PC.</p>
        </div>
        <div class="p-5 bg-cyan-700">
            <div class="border border-b-0 py-3 rounded-t-lg">
                <button type="button" (click)="saveSettings()" data-mdb-ripple="true" data-mdb-ripple-color="light" class="p-3 mx-3 border-2 rounded-lg hover:bg-sky-800" i18n>Save</button>
            </div>

            <div class="border p-5 rounded-b-lg text-center">
                <input type="file" (change)="loadSettings($event)" accept=".json" class="block w-full border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 file:border-0 file:mr-4 file:py-3 file:px-4 file:bg-white">
            </div>
            
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Size of the polygon in the middle</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>Set the size of the polygon in the middle here.</p>
            <p class="my-5" i18n>This value is determined by the surface area of your mirror.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="0" max="400" [formControl]="innerPolygonSize" [value]="innerPolygonSize.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="innerPolygonSize" [value]="innerPolygonSize.value" class="text-white text-left appearance-none bg-inherit w-1/2 shrink h-5">
                <span class="w-6" i18n>px</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Size of the images</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>Set the scaling factor for the images here.</p>
            <p class="my-5" i18n>There is only one and it is taken for all images.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="0" max="750" [formControl]="imageSize" [value]="imageSize.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="imageSize" [value]="imageSize.value" class="text-white text-left appearance-none w-1/2 bg-inherit shrink h-5">
                <span class="w-16">%</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Position of the images</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>With this setting you can adjust the position of the images.</p>
            <p class="my-5" i18n>For this an offset value is used. This moves the image by the set value from its starting position.</p>
            <p class="my-5" i18n>There is only one offset and the value is taken for all images.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="-750" max="750" [formControl]="imagePosition" [value]="imagePosition.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="imagePosition" [value]="imagePosition.value" class="text-white text-left appearance-none bg-inherit w-2/5 shrink h-5">
                <span class="w-6" i18n>px</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg" i18n>Number of sides / images</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5" i18n>With this setting you can adjust the number of sides the polygon has.</p>
            <p class="my-5" i18n>Each side displays an image. The number should be between 3 and 10.</p>
            <p class="my-5" i18n>You can use as many images as the polygon has sides. If you use fewer images, the images will be repeated.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="3" max="10" [formControl]="sideCount" [value]="sideCount.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="sideCount" [value]="sideCount.value" class="text-white text-left appearance-none bg-inherit w-1/3 shrink h-5">
                <span class="w-6" i18n>Sides</span>
            </span>
        </div>
    </div>
</div>