input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.icon-button svg {
    --svg-color: #fff !important;
    fill: var(--svg-color) !important;
}

button {
    vertical-align: middle;
}