<div class="p-3 grid gap-3 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 text-center text-white">
    <div class="flex flex-col rounded-xl overflow-hidden border-4 sm:col-span-1 md:col-span-2 xl:col-span-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Bilder zum Anzeigen</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Laden Sie hier die Bilder, welche von dieser Anwendung angezeigt werden sollen.</p>
            <div class="flex flex-col justify-center">
                <span>Ihre geladenen Bilder:</span>
                <ol *ngIf="currentImages.length" class="mx-5">
                    <li *ngFor="let image of currentImages; index as i" class="border rounded-lg my-2">
                        {{image.name}}
                        <button type="button" (click)="pushImageUp(i)" data-mdb-ripple="true" data-mdb-ripple-color="light" class="ml-4 my-2 p-2 border rounded hover:bg-sky-800">Hoch</button>
                        <button type="button" (click)="pushImageDown(i)" data-mdb-ripple="true" data-mdb-ripple-color="light" class="ml-4 my-2 p-2 border rounded hover:bg-sky-800">Runter</button>
                    </li>
                </ol>
                <span *ngIf="!currentImages.length">(Sie haben noch keine Bilder geladen.)</span>
            </div>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input class="form-control
                    h-9
                    w-10/12
                    px-3
                    py-1.5
                    my-2
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" multiple id="formFile" (change)="addImages($event)">
        </div>
    </div>
    
    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Einstellungen speichern & laden</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Hier können sie die gegenwärtig verwendeten Einstellungen in einer Datei auf Ihrem PC speichern.</p>
            <p class="my-5">Außerdem können Sie zuvor gespeicherte Einstellungen, welche auf Ihrem PC gespeichert sind, wieder laden.</p>
        </div>
        <div class="p-5 bg-cyan-700">
            <div class="border border-b-0 py-3 rounded-t-lg">
                <button type="button" (click)="saveSettings()" data-mdb-ripple="true" data-mdb-ripple-color="light" class="p-3 mx-3 border-2 rounded-lg hover:bg-sky-800">Speichern</button>
            </div>

            <div class="border py-3 rounded-b-lg text-center">
                <input class="form-control
                    h-9
                    w-10/12
                    px-3
                    py-1.5
                    my-2
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile" (change)="loadSettings($event)">
            </div>
            
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Größe des mittleren Polygons</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Stellen Sie hier die Größe des Polygons in der Mitte ein.</p>
            <p class="my-5">Dieser Wert wird durch die Auflagefläche Ihres Spiegels bestimmt.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="0" max="2000" [formControl]="innerPolygonSize" [value]="innerPolygonSize.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="innerPolygonSize" [value]="innerPolygonSize.value" class="text-white text-left appearance-none bg-inherit w-1/2 shrink h-5">
                <span class="w-6">px</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Größe der Bilder</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Stellen Sie hier die Größe der Bilder ein.</p>
            <p class="my-5">Es gibt nur eine Größe und der Wert wird für alle Bilder übernommen.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="0" max="2000" [formControl]="imageSize" [value]="imageSize.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="imageSize" [value]="imageSize.value" class="text-white text-left appearance-none w-1/2 bg-inherit shrink h-5">
                <span class="w-16">px</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Position der Bilder</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Mit dieser Einstellung können Sie die Position der Bilder einstellen.</p>
            <p class="my-5">Dafür wird ein Offset-Wert verwendet. Dadurch wird das Bild um den eingestellten Wert von seiner Ausgangsposition aus verschoben.</p>
            <p class="my-5">Es gibt nur ein Offset und der Wert wird für alle Bilder übernommen.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="-750" max="750" [formControl]="imagePosition" [value]="imagePosition.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="imagePosition" [value]="imagePosition.value" class="text-white text-left appearance-none bg-inherit w-2/5 shrink h-5">
                <span class="w-6">px</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Anzahl der Seiten bzw. Bilder</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Mit dieser Einstellung können Sie die Anzahl der Seiten einstellen, die das Polygon hat.</p>
            <p class="my-5">An jeder Seite wird ein Bild dargestellt. Die Anzahl sollte zwischen 3 und 20 liegen.</p>
            <p class="my-5">Sie können max. so viele Bilder verwenden, wie das Polygon Seiten hat. Wenn Sie weniger Bilder verwenden, dann wiederholen sich die Bilder.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="range" min="3" max="20" [formControl]="sideCount" [value]="sideCount.value" class="form-range h-5 w-3/5 rounded-lg cursor-pointer mx-3">
            
            <span class="border-2 rounded w-1/5 inline-block mx-3">
                <input type="number" [formControl]="sideCount" [value]="sideCount.value" class="text-white text-left appearance-none bg-inherit w-1/3 shrink h-5">
                <span class="w-6">Seiten</span>
            </span>
        </div>
    </div>

    <div class="flex flex-col rounded-xl overflow-hidden border-4">
        <div class="bg-cyan-800 p-3">
            <h1 class="font-medium text-lg">Zeit zwischen den Bildwechseln</h1>
        </div>
        <div class="px-5 grow bg-cyan-700 border-y-2">
            <p class="my-5">Dieser Wert ist die Zeit (in Millisekunden), welcher zwischen den Wechsel vom aktuellen zum nächsten Bild liegt.</p>
            <p class="my-5">Dieser Wert ist nur wichtig, wenn Sie als "Bild" ein GIF hochgeladen haben.</p>
            <p class="my-5">Später folgt die Unterstützung für Videos. Dann kann auch die Zeit zwischen dem Anzeigen der Bilder des Videos hier festgelegt werden.</p>
        </div>
        <div class="p-5 bg-cyan-700 ">
            <input type="number" [formControl]="imageSwapTime" [value]="imageSwapTime.value" class="text-white text-right border-b-2 appearance-none w-16 bg-inherit w-fit h-5 mr-2">
            <span class="w-16 inline-block text-left">ms</span>
        </div>
    </div>

    <button type="button" (click)="router.navigate(['display'])" data-mdb-ripple="true" data-mdb-ripple-color="light" class="mt-5 py-3 border-2 rounded-full sm:col-span-1 md:col-span-2 xl:col-span-4 bg-cyan-700 hover:bg-sky-800">BILDER ANZEIGEN</button>

</div>