<!-- <button [hidden]="!iconsVisible" class="z-40 fixed top-5 right-5" (click)="router.navigate(['settings'])" (mouseover)="forceIconsVisible=true" (mouseleave)="forceIconsVisible=false"> -->
<button [hidden]="!iconsVisible" class="z-40 fixed top-5 right-5" data-bs-toggle="modal" data-bs-target="#settingsModal" (mouseover)="forceIconsVisible=true" (mouseleave)="forceIconsVisible=false">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
    </svg>
</button>

<select [hidden]="!iconsVisible" [(ngModel)]="selectedDisplayMethod" class="form-select appearance-none z-40
      fixed top-5 left-5
      w-1/3
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" (mouseover)="forceIconsVisible=true" (mouseleave)="forceIconsVisible=false">
        <option *ngFor="let displayMethod of displayMethods" [value]="displayMethod.name">{{displayMethod.name}}</option>
    </select>

<app-display-standard *ngIf="selectedDisplayMethod === 'Standard Method'" class="block w-full h-full bg-blue" [resizeEvent$]="resizeEvent$.asObservable()" (window:resize)="onResize($event)"></app-display-standard>

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="settingsModal" tabindex="-1" aria-labelledby="Settings Modal" aria-hidden="true">
    <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-body relative p-4">
                <app-standard-settings *ngIf="selectedDisplayMethod === 'Standard Method'"></app-standard-settings>
            </div>
        </div>
    </div>
</div>